@import "tailwindcss";

@theme inline {
  --color-saffron-50: #fff9ed;
  --color-saffron-100: #ffefcd;
  --color-saffron-200: #ffdc9b;
  --color-saffron-300: #ffc25a;
  --color-saffron-400: #ffa021;
  --color-saffron-500: #ff8400;
  --color-saffron-600: #ef6700;
  --color-saffron-700: #c64c02;
  --color-saffron-800: #9d3d0b;
  --color-saffron-900: #7e340d;
  --color-saffron-950: #441704;

  --color-background: #f8fafc; /* slate-50 */
  --color-foreground: #0f172a; /* slate-900 */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
